body {
    margin: 0;
  }
  
  /* 전체 */
  
  div {
    float: left;
  }
  
  /* 개별 */
  
  #red {
    background-color: #ff0000;
    width: 100%;
    height: 200px;
  }
  
  #orange {
    background-color: #ffa500;
    width: 25%;
    height: 200px;
  }
  
  #yellow {
    background-color: #ffff00;
    width: 50%;
    height: 200px;
  }
  
  #green {
    background-color: #008000;
    width: 25%;
    height: 200px;
  }
  
  #blue {
    background-color: #0000ff;
    width: 50%;
    height: 200px;
  }
  
  #indigo {
    background-color: #4b0082;
    width: 50%;
    height: 200px;
  }
  
  #purple {
    background-color: #800080;
    width: 100%;
    height: 200px;
  }